<head th:fragment="head">
    <title >Tour and Travels</title>
	<div th:replace="/layout/head-section/meta-tags"></div>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" />
	<link rel="stylesheet" th:href="@{/css/layout/layout_styles.css}" />
	<link rel="stylesheet" th:href="@{/css/LeftMenuLayout/app.css}" />
	<link rel="stylesheet" th:href="@{/css/jquery-confirm.min.css}" />
	<link rel="stylesheet" th:href="@{/css/common.ui.css}" />
	<link rel="stylesheet" th:href="@{/css/common_en.css}" />
</head>


