<head th:fragment="head">
<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Tour
	and Travels</title>
		<div th:replace="/layout/head-section/meta-tags"></div>
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" />
<link rel="stylesheet" th:href="@{/css/layout/layout_styles.css}" />
<link rel="stylesheet" th:href="@{/css/common.ui.css}" />
<link rel="stylesheet" th:href="@{/css/common_en.css}" />
<!-- <script th:src="@{/scripts/common/head/main-head.js}"></script> -->
</head>

