<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<div th:replace="/layout/head-section/content-head"></div>
<body>
	<form th:action="@{/main}" method="post" name="formMenu" id="formMenu">
	</form>

	<section class="content" layout:fragment="content">
		<h1>THIS IS THE DEFAULT LAYOUT</h1>
	</section>
   
	<div th:replace="/layout/body-section/content-script"></div>
	<th:block layout:fragment="script">

	</th:block>

</body>
</html>
