<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<div class="modal-footer" th:fragment="createButtons">
		<!-- create -->
		<button type="button" id="btnCreate"
			class="btn btn-primary pull-right">
			<span><i aria-hidden="true" class="fa fa-plus-circle"></i></span><span> Create</span>
		</button>
		&nbsp;&nbsp;&nbsp;
		<!-- cancel -->
		<button type="button" id="btnCancel" data-dismiss="modal"
			class="btn btn-default pull-right">
			<span>Cancel</span>
		</button>
	</div>
</body>
</html>

