<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="/layout/layout">
<head>
<title>Tour and Travels Login</title>
</head>
<body>
	<th:block layout:fragment="content">

		<iframe name="icanvas" id="icanvas" width="100%" height="100%"
			frameborder="0" marginheight="0" marginwidth="0"></iframe>
	</th:block>
<!-- 	<th:block layout:fragment="script"> -->
<!-- 		<script th:src="@{/scripts/home/home.js}"></script> -->
<!-- 	</th:block> -->
</body>
</html>

