<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{/layout/loginlayout}">
<body>
	<div layout:fragment="content">
		<!--pagewrapper Starts here-->
		<!-- Column Starts here-->
		<div class="col-lg-5 col-md-6 col-sm-7">
		
			<div th:replace="/login/fragments/loginform"></div>
		</div>
	</div>
	<th:block layout:fragment="script">
		<!-- Section to add more Javascript functions -->
	</th:block>
</body>
</html>